extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    if products.length > 0
       div.grid
            each product in products
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    div.card__image
                        img(src=product.imageUrl, alt=product.title)
                    div.card__content
                        h2.product__price $19.99
                        p.product__description A very interesting book about so many even more interesting things!
                    div.card__actions
                        - var productId = product.id
                        a.btn(href="/admin/edit-product/" + productId) Edit
                        form(action="/delete-product", method="post")
                            button.btn Delete
    else    
        h1 No Products

